# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# testing
/coverage

# production
/build

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel

emailjs.send(
  process.env.REACT_APP_EMAILJS_SERVICE_ID!,
  process.env.REACT_APP_EMAILJS_TEMPLATE_ID!,
  formData,
  process.env.REACT_APP_EMAILJS_PUBLIC_KEY!
)
